<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Memento, le blog Dev qu'il vous faut!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        <header>
            <nav class="navbar navbar-expand-md navbar-light navcolor">
                <a class="navbar-brand" href="{{ path('home') }}"><img class="navbarLogo" src="{{ asset('asset/img/logo-memento.png') }}" alt="logo"></a>
                <button id="btnMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarsExample04">
                    <div class="row navbar-nav list-nav ">
                        <div class="col-12 nav-item dropdown inlineFlex">
                            <a class="titreMenu" href="{{ path('news_article') }}">Nouveautés</a>
                            <a class="titreMenu" href="#">Top Mementos</a>
                            <a class="titreMenu" href="#">Actualités</a>
                            <a class="titreMenu" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="iconenav">
                    {% if app.user %}
                            <ul class="navbar-nav mr-auto list-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if app.user.userPicture is empty %}
                                            <img class="userNoPic" src="{{ asset('asset/img/user_nopic.png') }}" alt="no picture">
                                        {% else %}
                                            <img class="userLogo" src="{{ asset('asset/img/profil/') }}{{ app.user.userPicture }}" alt="picture profil">
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu menuPicture" aria-labelledby="dropdown05">
                                        <a class="dropdown-item" href="{{ path('profil_index') }}">Mon Profil</a>
                                        <a class="dropdown-item" href="{{ path('article_add') }}">Créer un article</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('lang_index') }}">Gestion languages</a>
                                            <a class="dropdown-item" href="{{ path('user_index') }}">Gestion comptes</a>
                                            <a class="dropdown-item" href="{{ path('article_index') }}">Gestion articles</a>
                                            <a class="dropdown-item" href="{{ path('comments_index') }}">Gestion commentaires</a>
                                            <a class="dropdown-item" href="#">Statistiques</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
                                    </div>
                                </li>
                            </ul>
                    {% else %}
                        <a class="btn btn-outline-light" href="{{ path('app_login') }}">Connexion</a>
                        <a class="btn btn-outline-light" href="{{ path('user_add') }}">Inscription</a>
                    {% endif %}
                </div>
            </nav>
            <div class="row justify-content-center prolongNavbar">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 center menuLangue">
                    <ul class="languagesList">
                        {{ render(controller('App\\Controller\\BaseController::baseRender')) }}
                    </ul>
                </div>
                {{ render(controller('App\\Controller\\SearchController::baseSearch')) }}
            </div>
        </header>

        <div id="messageSuccess">
            <div class="container">
                <div class="alert alert-success">
                {% for message in app.flashes('success') %}
                    <p class="textSucces">{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        </div>
        <div id="messageError">
            <div class="container">
                <div class="alert alert-danger">
                {% for message in app.flashes('error') %}
                    <p class="textError">{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        </div>

        {% endblock %}
        <div id="body" class="mt-5 mb-5">
        {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <footer class="mt-5">
                <div class="row justify-content-center mt-3 footer">
                    <div class="col-12 xol-sm-12 col-md-4 justify-content-center mt-3 mb-3">
                        <p class="contact">
                            <span class="bold">Me contacter</span>
                        <br>
                            <span class="bold">Tel:</span> 06 34 70 09 02
                        <br>
                            <span class="bold">Mail:</span> contact@devaux-bruno.com</p>
                        <div class="resauxSociaux">
                            <a target="_blank" href="#"><img class="logoSociaux" alt="logo Github" src="{{ asset('asset/img/github-brands.svg') }}"></a>
                            <a target="_blank" href="#"><img class="logoSociaux" alt="logo Tweeter" src="{{ asset('asset/img/instagram-brands.svg') }}"></a>
                            <a target="_blank" href="#"><img class="logoSociaux" alt="logo Facebook" src="{{ asset('asset/img/facebook-square-brands.svg') }}"></a>
                            <a target="_blank" href="#"><img class="logoSociaux" alt="logo Instagram" src="{{ asset('asset/img/twitter-square-brands.svg') }}"></a>
                        </div>
                    </div>
                    <div class="col-12 xol-sm-12 col-md-4 justify-content-center mt-3 mb-3">
                        <div class="gridCenter">
                            <a class="titreFooter" href="{{ path('news_article') }}">Nouveautés</a>
                            <a class="titreFooter" href="#">Top Mementos</a>
                            <a class="titreFooter" href="#">Actualités</a>
                            <a class="titreFooter" href="#">Contact</a>
                        </div>
                    </div>
                    <div class="col-12 xol-sm-12 col-md-4 justify-content-center mt-3 mb-3">
                        <div class="gridCenter">
                            <a class="titreFooter" href="#">Mentions légales</a>
                            <a class="titreFooter" href="#">Politique de confidentialité</a>
                            <a class="titreFooter" href="#">CGU</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center footer">
                    <ul class="languagesList">
                        {{ render(controller('App\\Controller\\BaseController::baseRender')) }}
                    </ul>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset('asset/js/memento_js.js') }}"></script>
        {% endblock %}
    </body>
</html>
