{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">{{ resultatArticle.articleTitle | capitalize}}</h1>
    <div class="container">
        <div class="row justify-content-center mb-3">
            {% if app.user is same as (resultatArticle.articleUser) %}
                <div class="row justify-content-center">
                    <a class="btn btn-primary"
                       href="{{ path('member_article_edit', {'articleId' : resultatArticle.articleId}) }}">
                        Modifier mon memento
                    </a>
                    <a class="btn btn-danger"
                       href="{{ path('member_article_delete', {'articleId' : resultatArticle.articleId}) }}">
                        Supprimer mon memento
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div class="articleUser">
                {% if resultatArticle.articleUser.userPicture is empty %}
                    <img class="pictureProfilArticle" src="{{ asset('asset/img/user_nopic.png') }}" alt="nopic">
                {% else %}
                    <img class="pictureProfilArticle" src="{{ asset('asset/img/profil/') }}{{  resultatArticle.articleUser.userPicture }}" alt="profil picture">
                {% endif %}
                <span>Par {{ resultatArticle.articleUser.userPseudo }} le {{ resultatArticle.articleCreateAt |date('d/m/Y à H:m:s') }}</span>
            </div>
        </div>
        {%  if resultatArticle.articleValid is same as ('published') %}
            <div class="row mt-3 mb-3">
                <div class="articleDetails">
                    <p>{{ resultatArticle.articleText | raw }}</p>
                </div>
            </div>
        {% else %}
            <p class="mt-5 mb-5">Désolé, votre article n'a pas encore été validé pour une publication!</p>
        {% endif %}
        {% if app.user %}
        <div class="row justify-content-center mb-5"  id="like">
            <div class="col-12 col-sm-12 col-md-4 justify-content-center ">
                <span class="titreLike">Que pensez vous de ce Memento?</span>
            </div>
            {% if resultatLike is empty%}
            <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-end">
                <a class="voteYes" href="{{ path('likesystem_yes', {'articleId': resultatArticle.articleId}) }}">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-center">
                <a class="voteNo" href="{{ path('likesystem_no', {'articleId': resultatArticle.articleId}) }}">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                </a>
            </div>
            {% elseif resultatLike[0].likeNote is same as ('yes')%}
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-end">
                    <a class="voteYes" href="{{ path('likesystem_yes', {'articleId': resultatArticle.articleId}) }}">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="green" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-center">
                    <a class="voteNo" href="{{ path('likesystem_no', {'articleId': resultatArticle.articleId}) }}">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                    </a>
                </div>
            {% elseif resultatLike[0].likeNote is same as ('no')%}
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-end">
                    <a class="voteYes" href="{{ path('likesystem_yes', {'articleId': resultatArticle.articleId}) }}">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 justify-content-center">
                    <a class="voteNo" href="{{ path('likesystem_no', {'articleId': resultatArticle.articleId}) }}">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="svg-inline--fa fa-thumbs-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="red" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center mb-3">
            <span class="titrecommentaire">Ajouter un Commentaires</span>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                {{ form_start(formAjoutcomment) }}
                <div class="my-custom-class-for-errors alert-danger">
                    {{ form_errors(formAjoutcomment) }}
                    <span class="text-danger">{{ form_errors(formAjoutcomment.commentText) }}</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjoutcomment.commentText) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                        {{ form_row(formAjoutcomment.save) }}
                        {{ form_end(formAjoutcomment) }}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="row justify-content-center mt-3 mb-5">
                <span class="titrecommentaire">Vous voulez rajouter un commentaire?
                    <br>
                    <a href="{{ path('user_add') }}">Inscrivez-vous</a> ou <a href="{{ path('app_login') }}">Connecter vous</a> !
                </span>
            </div>
        {% endif %}
        <div class="row justify-content-center mb-3">
            <p id="commentaire" class="titreCommentaire">Commentaires</p>
        </div>
        {{ render(controller('App\\Controller\\CommentsController::readComment',{'articleId': resultatArticle.articleId})) }}

    </div>

{% endblock %}