{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-3">Résultat de votre recherche : " {{ dataSearch }} "</h1>
    <div class="container">
        <div class="row justify-content-center">
            {% if resultatsearch is empty %}
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <p>Désolé, rien ne correspond à votre recherche</p>
            </div>
            {% else %}
                {% for article in resultatsearch %}
                    {%  if article.articleValid is same as ('published') %}
                        <a class="articleLien"  href="{{ path('article', {'articleId' : article.articleId}) }}">
                            <div class="blockArticle">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 imageArticle">
                                    {% if article.articlePicture is empty %}
                                        <img class="ArticleNoPic" src="{{ asset('asset/img/user_nopic.png') }}" alt="no picture">
                                    {% else %}
                                        <img class="ArticleLogo" src="{{ asset('asset/img/article/') }}{{ article.articlePicture }}" alt="picture {{ article.articleTitle }}">
                                    {% endif %}
                                </div>
                                <div class=" col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 descArticle">
                                    <h2 class="mt-3">{{ article.articleTitle |capitalize }}</h2>
                                    <p>{{ article.articleDescription | raw }}</p>
                                    <div class="dateCreated">
                                        <p class="datePerson">Écrit par {{ article.articleUser.userPseudo }} le {{ article.articleCreateAt |date('d/m/Y H:m:s') }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}