{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center mt-5 mb-3">Les derniers articles</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for article in resultatedit %}
            <a target="_blank" href="">
                <div class="blockArticle">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        {% if article.articlePicture is empty %}
                            <img class="ArticleNoPic" src="{{ asset('asset/img/user_nopic.png') }}" alt="no picture">
                        {% else %}
                            <img class="ArticleLogo" src="{{ asset('asset/img/article/') }}{{ article.articlePicture }}" alt="picture {{ article.articleTitle }}">
                        {% endif %}
                    </div>
                    <div class=" col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <div class="row">
                            <h2>{{ article.articleTitle }}</h2>
                        </div>
                        <div class="row">
                            {{ article.articleDescription }}
                        </div>
                        <div class="row date">
                            {{ article.articleCreateAt |date('d/m/Y H:m:s') }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}