{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center mt-5 mb-3">Créer votre Memento</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                {{ form_start(formAjoutarticle) }}
                <div class="my-custom-class-for-errors alert-danger">
                    {{ form_errors(formAjoutarticle) }}
                    <span class="text-danger">{{ form_errors(formAjoutarticle.articleTitle) }}</span>
                    <span class="text-danger">{{ form_errors(formAjoutarticle.articlePicture) }}</span>
                    <span class="text-danger">{{ form_errors(formAjoutarticle.articleDescription) }}</span>
                    <span class="text-danger">{{ form_errors(formAjoutarticle.articleText) }}</span>
                    <span class="text-danger">{{ form_errors(formAjoutarticle.articleLanguage) }}</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjoutarticle.articleTitle) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjoutarticle.articlePicture) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjoutarticle.articleLanguage) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjoutarticle.articleDescription) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {{ form_row(formAjoutarticle.articleText) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                        {{ form_rest(formAjoutarticle) }}
                        {{ form_row(formAjoutarticle.save) }}
                        {{ form_end(formAjoutarticle) }}
                        <a class="btn btn-secondary mt-2" href="{{ path('profil_index') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'article[articleText]' );
    </script>
{% endblock %}